<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to AirMeet Home Page</title>
</head>
<body>
<h1>Welcome to AirMeet!!! Meet interesting people waiting for their flights just as you are!!!</h1>
<h2>Log in and check who is waiting at your airport</h2>

<form method="get" action="/login">
    <button type="submit">Login</button>
</form>

<form method="get" action="/register">
    <button type="submit">Register</button>
</form>

</body>
</html>